html {
    height: 100%;
}

body {
    height: 100%;
    background-image: linear-gradient(black, grey, silver);
    margin: 0px;
    
}

.photo {
    display: inline-block;
    position: relative;
    width: 480px;
    height: 100%;
    border-left: 4px solid tan;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}

.photo-title {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: aliceblue;
    font-size: small;
}

.photo-title a {
    color: aliceblue;
}

.container1 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    /* margin: 0px 150px; */
    
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 600px;
    background-color: white;
    padding: 0;
    padding-left: 7px;
}


.title-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0px;
    position: relative;
    /* border: 1px solid black; */
    max-width: 600px;
    height: 26vh;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: -10px;
    margin-bottom: 0px;
}

.hook {
    position: absolute;
    top: -30px;
    left: 40px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    text-shadow: rgb(162, 159, 159) 2px 5px 8px;
}

.p1,
.p2 {
    line-height: 23px;
    margin: 0px 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
}
.p1 {
    position: absolute;
    bottom: 64px;
}

.p2 {
    position: absolute;
    bottom: 10px;
}


.form2 {
    display: flex;
    justify-content: space-between;
    height: 30vh;
    max-width: 600px;
    padding: 60px 40px;
    background-color: rgb(252, 245, 236);
    box-shadow: 1.5px 10px 30px -15px black;
}

/* @font-face {
    font-family: 'Oswald';
    src: url(fonts/static/Oswald-Medium.ttf);
} */

label {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

input,
select {
    display: block;
    width: 180px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    border-radius: 1cm;
    padding: 5px;
}


select:focus {
    background-color: rgb(242, 242, 242);
}

input:focus {
    background-color: rgb(242, 242, 242);
}
input:invalid {
    border: 2px solid red;

}
input:valid {
    border: 2px solid rgb(131, 201, 131);
}


/* input:valid + span::before {
    content: ✓;
    color: rgb(131, 201, 131);
}

input:invalid +span::before {
    content: ✖;
    color: red;
} */

select {
    height: 30px;
    font-size: medium;
}


.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.submit-section {
    height: 18vh;
    padding-left: 40px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.signup {
    padding: 11px 16px;
    width: fit-content;
    background-color:rgb(249, 230, 204);
    border: solid 2px rgb(249, 230, 204);
    border-radius: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    font-size: medium;
}

.button-prompt {
    font-family: 'Titillium Web', sans-serif;
    margin: 15px 0px;
}